@mixin media($point) {

	$device-custom-iphone-xs: "(max-width: 320px)";
	$device-xs-phones: "(max-width: 480px)";
	$device-sm-tablets: "(max-width: 768px)";
	$device-md-desctop: "(max-width: 992px)";
	$device-lg-wide-screen: "(min-width: 1200px)";

	@if $point == custom-iphone-xs {
		@media only screen and #{$device-custom-iphone-xs} { @content; }
	}
	@else if $point == xs-phones {
		@media only screen and #{$device-xs-phones} { @content; }
	}
	@else if $point == sm-tablets {
		@media only screen and #{$device-sm-tablets} { @content; }
	}
	@else if $point == md-desctop {
		@media only screen and #{$device-md-desctop} { @content; }
	}
	@else if $point == lg-wide-screen {
		@media only screen and #{$device-lg-wide-screen} { @content; }
	}
}