@import '_colors.scss';
@import '_media.scss';

html {
	box-sizing: border-box;
	font-size: 10px;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body {
	font-family: 'PT Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6,p,ul,dl,dt,dd {
	margin: 0;
	padding: 0;
}
img {
	max-width: 100%;
}
.title {
	font-size: 3.2rem;
	font-weight: bold;
	color: $dop-color-dark;
}
.sub-title {
	margin-top: 2.7rem;
	font-size: 2rem;
	font-weight: 100;
	color: $dop-color-dark-2;
}
.text {
	margin-top: 2.7rem;
	font-size: 1.6rem;
	color: $dop-color-dark-3;
}
.header {
	background-color: $main-color;
	&__top-line {
		padding-top: 1rem;
	}
	&__logo {
		line-height: 8.65rem;
	}
	&__menu {
		display: block;
		line-height: 5.65rem;
		.mobile-ico {
			display: inline-block;
			cursor: pointer;
			position: absolute;
			right: 15px;
			top: 2.5rem;
			&__item {
				display: none;
				width: 35px;
				height: 5px;
				background-color: $dop-color-dark;
				margin: 6px 0;
				transition: 0.4s;
				@include media (xs-phones) {
					display: block;
				}
			}
		}
/* Rotate first bar */
.change .mobile-ico__item-1 {
	-webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
	transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .mobile-ico__item-2 {
	opacity: 0;
}

/* Rotate last bar */
.change .mobile-ico__item-3 {
	-webkit-transform: rotate(45deg) translate(-9px, -7px) ;
	transform: rotate(45deg) translate(-9px, -7px) ;
}
menu {
	li {
		list-style-type: none;
		display: inline-block;
		margin-right: 7.3rem;
		@include media (xs-phones) {
			display: none;
		}
		&:last-child {
			margin-right: 0;
		}
		a {
			color: $dop-color-dark;
			font-weight: bold;
			font-size: 2.2rem;
					// transition: all linear .4s;
					&:hover {
						// text-decoration: none;
						// color: $dop-color-dark;
					}
				}
			}
		}
	}
	&__slider {
		margin-top: 7.1rem;
		padding-bottom: 10.8rem;
		.slider {
			&__left-side {
				padding-left: 1rem;
				.sub-title {
					// margin-top: 2.7rem;
				}
			}
			&__social {
				margin-top: 4.7rem;
				ul {
					li {
						list-style-type: none;
						display: inline-block;
						margin-right: 4rem;
						&:last-child {
							margin-top: 0;
						}
					}
				}
			}
		}
	}
}
.main {
	margin-top: 10.7rem;
	&__title {
		text-align: center;
	}
	&__features {
		margin-top: 9.5rem;
		.row:nth-child(2) {
			margin-top: 5rem;
		}
		.text {
			margin-top: 2.2rem;
		}
		.features {
			&__icon {
				display: block;
				width: 5.5rem;
				height: 5.5rem;
				text-align: right;
				background-image: url('../img/icons-sprite.png');
				background-repeat: no-repeat;

				&-1 {
					background-position: 16px 0;
				}
				&-2 {
					background-position: -54px 0;
				}
				&-3 {
					background-position: -118px 0;
				}
				&-4 {
					background-position: -2px -61px;
				}
				&-5 {
					background-position: -62px -63px;
				}
				&-6 {
					background-position: -116px -63px;
				}
			}
			&__title {
				font-size: 2.2rem;
				color: $dop-color-dark;
			}
		}
	}
}
.footer {
	background-color: $dop-color-dark;
	padding-bottom: 7rem;
	&__title {
		text-align: center;
		margin-top: 9.7rem;
		padding-top: 9.7rem;
		.title {
			color: $main-color;
		}
		.sub-title {
			color: $dop-color;
		}
	}
	&__form {
		text-align: center;
		margin-top: 4.4rem;
	}
	&__social {
		margin-top: 8rem;
		text-align: center;
	}
	&__menu {
		margin-top: 13.4rem;
		color: #fff;
		li {
			list-style-type: none;
		}
		a {
			color: #fff;
		}
	}
}
input[type="text"] {
	display: inline-block;
	width: 570px;
	max-width: 100%;
	margin: 0 auto;
	padding: 7px 15px;
	border-radius: 3px;
	border: none;
	font-size: 1.6rem;
	&:active, &:focus {
		outline: 2px solid $dop-color;
	}
}
input[type="submit"] {
	display: inline-block;
	padding: 7px 14px;
	border: none;
	border-radius: 3px;
	background-color: $main-color;
	font-size: 1.6rem;
	color: $dop-color-dark;
	transition: all ease 0.3s;
	&:hover {
		text-decoration: underline;
	}
}
.social {
	display: inline-block;
	width: 40px;
	height: 40px;
	background-color: transparent;
	background-image: url('../img/social-sprite.png');
	&-fb {
		background-position: -2px -1px;
		margin-right: 4rem;
	}
	&-tw {
		background-position: -72px -1px;
		margin-right: 4rem;
	}
	&-go {
		background-position: -137px -1px;
		margin-right: 4rem;
	}
	&-pt {
		background-position: -206px -1px;
	}
}














































